<section class="max-w-md w-full space-y-8 px-4 sm:px-6 lg:px-8">
    <div class="mb-3">
        <h3 class="text-xl">Hae sankari ID:llä</h3>
        <form action="/" method="POST">
            <input
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                type="text" name='id'>
            <button
                class="mt-5 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                id="button" type="submit">submit</button>
        </form>
    </div>
</section>